# Сервер
GRPC_PORT=50051

# База данных PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth_user_db
DB_SSL_MODE=disable

# JWT
JWT_SECRET_KEY=your-secret-key-here-change-in-production
JWT_ACCESS_TTL=24  # часы
JWT_REFRESH_TTL=720  # часы (30 дней)

# Логи
LOG_LEVEL=debug

# Окружение
ENV=dev